[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "juliacall"
version = "0.9.23"
description = "Julia and Python in seamless harmony"
readme = "README.md"
readme-content-type = "text/markdown"
homepage = "http://github.com/JuliaPy/PythonCall.jl"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]
requires-python = ">=3.8"
dependencies = ["juliapkg ~=0.1.8"]

[tool.setuptools]
zip-safe = false

[tool.setuptools.packages.find]
where = ["pysrc"]
include = ["juliacall"]

[tool.setuptools.package-data]
"juliacall" = ["*.json", "*.jl"]
