name: Benchmark PR
on:
  pull_request:

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: "1"
          # Post to "summary" tab of workflow run:
          job-summary: "true"
          # Run benchmark using PR's version of the script:
          bench-on: ${{ github.event.pull_request.head.sha }}
